body{
	font:normal normal normal .8em Verdana,Arial,Helvetica,sans-serif;
	font-size: 150%;
	color: white;
	background-image: url(../img/backgroundPuzzle.jpg);
	background-size: cover;
	background-repeat:
	no-repeat;
}
h1,h2,h3,h4,h5,h6{
	font-weight:bold;
}
h1{
	font-size:2.1em;
}
h3{
	font-size:1.6em;
}
h5{
	font-size:1.2em;
	text-align: center;
}
table{
	margin: 0 auto;
}
input{
	color: black;
}
table.bordered{
	border:1px solid #000;
}
table.bordered td,table.bordered th{
	border:1px solid #000;
}
td,th{
	padding:5px;vertical-align:top;
}
th{
	background:#ff0;text-align:center;font-weight:bold;
}
td.label{
	text-align:right;font-weight:bold;}
img{
	border:1px solid #000;
}
label{
	font-weight:bold;text-align:right;
}
.warning,.error{
	font-weight:bold;color:#300;
}
.notice{
	width:auto;padding:10px;background:#ee0;
}
.read{
	border:none;background-color:#eee;padding:3px;
}
		/*	h1{text-align:left;text-align:center;color: white;}
			h2{color: white; text-align:center;}
			hr{color: white; text-align:center;}
			tr{text-align:left;color: black;}
			td{text-align:left;color: black;}
			.text{color: white;width:98%; max-width:7in; min-width:1.8in; margin:auto; font-family:sans-serif; }*/