div.jqPuzzle {
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
}

body {
    background-image: url(../img/backgroundPuzzle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}