body {
    background-image: url(../img/backgroundPuzzle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-memory { 
	margin-left: 60px;
	margin-right: 60px;
}

.title {
	color: white;
}

img {
	width: 156px;
	height: 156px;
}