body {
    background-image: url(../img/backgroundPuzzle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#sopa table {
	background-color:  white;
}

p, ul{
	color:white;
}

.li-word {
	font-size: 12px;
}